{% load staticfiles %}


<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/modernizr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/shop_events_listener.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/shopify_stats.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/theme-support.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/theme.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/trekkie.storefront.min.js' %}" type="text/javascript"></script>
