{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="h2 small--text-center">Procure em nossa loja</h1>
<form action="/search" method="get" class="search-bar medium-up--one-half" role="search">
  <div class="input-group">
    <input type="search" name="q" value="" placeholder="Pesquisar" aria-label="Search" class="input-group__field">
    <div class="input-group__btn">
      <button type="submit" class="btn">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 20 20"><path fill="#444" d="M18.64 17.02l-5.31-5.31c.81-1.08 1.26-2.43 1.26-3.87C14.5 4.06 11.44 1 7.75 1S1 4.06 1 7.75s3.06 6.75 6.75 6.75c1.44 0 2.79-.45 3.87-1.26l5.31 5.31c.45.45 1.26.54 1.71.09.45-.36.45-1.17 0-1.62zM3.25 7.75c0-2.52 1.98-4.5 4.5-4.5s4.5 1.98 4.5 4.5-1.98 4.5-4.5 4.5-4.5-1.98-4.5-4.5z"></path></svg>
        <span class="icon__fallback-text">Pesquisar</span>
      </button>
    </div>
  </div>
</form>
{% endblock %}