{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="index-sections">
  	<!-- BEGIN content_for_index -->
	<div id="shopify-section-featured-products" class="shopify-section">
  	<!-- A single featured collection module on home page 0 -->
  		<hr class="medium-up--hide hr--clear hr--small">

  		<div class="featured-products">
  			<div class="grid grid--uniform" role="list">
  				<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
					<a href="/products/blue-ripped-jeans" class="product__image" title="Blue ripped jeans">
						<img src="http://placehold.it/300x250" alt="Blue ripped jeans">
					</a>

					<div class="product__title text-center">
						<a href="/products/blue-ripped-jeans">Blue ripped jeans</a>
					</div>

					<div class="product__prices text-center">
						<span class="product__price">
							<span class="visually-hidden">Regular price</span>
							$99.00
						</span>

					</div>
				</div>
				<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
					<a href="/products/off-white-trench-style-jacket" class="product__image" title="Off white trench style jacket">
						<img src="http://placehold.it/300x250" alt="Off white trench style jacket">
					</a>

					<div class="product__title text-center">
						<a href="/products/off-white-trench-style-jacket">Off white trench style jacket</a>
					</div>

					<div class="product__prices text-center">
						<span class="product__price">
							<span class="visually-hidden">Regular price</span>
							$199.00
						</span> — <strong class="sold-out-text">Sold Out</strong>
    

					</div>
				</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/contrast-jacket" class="product__image" title="Contrast jacket">
    <img src="http://placehold.it/300x250" alt="Contrast jacket">
  </a>

  <div class="product__title text-center">
    <a href="/products/contrast-jacket">Contrast jacket</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $199.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/cream-white-pants" class="product__image" title="Cream white pants">
    <img src="http://placehold.it/300x250" alt="Cream white pants">
  </a>

  <div class="product__title text-center">
    <a href="/products/cream-white-pants">Cream white pants</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $79.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/etz-shirt" class="product__image" title="Etz shirt">
    <img src="http://placehold.it/300x250" alt="Etz shirt">
  </a>

  <div class="product__title text-center">
    <a href="/products/etz-shirt">Etz shirt</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $50.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/flowery-shirt" class="product__image" title="Flowery shirt">
    <img src="http://placehold.it/300x250" alt="Flowery shirt">
  </a>

  <div class="product__title text-center">
    <a href="/products/flowery-shirt">Flowery shirt</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $49.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/jean-coat" class="product__image" title="Jean coat">
    <img src="http://placehold.it/300x250" alt="Jean coat">
  </a>

  <div class="product__title text-center">
    <a href="/products/jean-coat">Jean coat</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price--on-sale">
        
          <strong class="visually-hidden">Sale price</strong>
          $99.00
        
      </span>

    

    
      <span class="visually-hidden">Regular price</span>
      <s>$199.00</s>
    

    
      <span class="badge badge--sale"><span>Sale</span></span>
    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/grey-jacket" class="product__image" title="Grey Jacket">
    <img src="http://placehold.it/300x250" alt="Grey Jacket">
  </a>

  <div class="product__title text-center">
    <a href="/products/grey-jacket">Grey Jacket</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $100.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
      











<div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
  <a href="/products/light-blue-shirt" class="product__image" title="Light blue shirt">
    <img src="http://placehold.it/300x250" alt="Light blue shirt">
  </a>

  <div class="product__title text-center">
    <a href="/products/light-blue-shirt">Light blue shirt</a>
  </div>

  

  <div class="product__prices text-center">
    

      <span class="product__price">
        
          <span class="visually-hidden">Regular price</span>
          $49.00
        
      </span>

    

    

    

    

    

  </div>
</div>

    
  </div>
</div>


</div><div id="shopify-section-featured-content" class="shopify-section"><div data-section-id="featured-content" data-section-type="featured-content-section">
  
    <h2 class="small--text-center">Theme documentation and support</h2>
  
  
    <div class="rte" >
      
          
          
            <p>You can find the documentation for this theme <a href="https:https://help.shopify.com/manual/using-themes/themes-by-shopify/simple" target="_blank">right here</a>. Since this is an official Shopify theme you can always ask <a href="http:https://help.shopify.com" target="_blank">one of our gurus</a>. </p>
<p class="adr"><span class="street-address">1 Main Street</span><br><span class="locality">Los Angeles</span>, <span class="region">California</span>,<br><span class="postal-code">90210</span> <span class="country-name">USA</span><br> <span class="tel">Phone: (555) 867 5309</span></p>
          
        
    </div>
  
  
</div>


</div><!-- END content_for_index -->
</div>
{% endblock %}